sqlalchemy
pydantic
fastapi
uvicorn[standard]
websockets
wsproto
python-dotenv
langchain
langgraph
langgraph-checkpoint-postgres
psycopg2-binary
psycopg_pool
langchain-openai
openai
pgvector
typing-extensions
